@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

input:-internal-autofill-selected {
  @apply bg-lightpink text-black !important;
}