@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

input:-internal-autofill-selected {
  @apply bg-lightpink text-black !important;
}

/* Estilos para inputs de búsqueda */
.input-search {
  @apply bg-white text-black mb-3 input input-bordered w-full;
}

/* Estilos para select */
select {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
